<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJs</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
</head>
<body>
  <div ng-controller="myCtrl" class="container">
    <div class="frame">
      <button class="btn btn-info" ng-click="click=!click">Hide/Show</button>
      <div ng-show="!click">
        <p>名字：<input type="text" ng-model="name" ></p>
        <p>{{name | uppercase}}</p>
      </div>
    </div>

    <div class="frame">
      <button class="btn btn-danger" ng-click="sayHello()">打招呼</button>
      <p ng-bind="greeting"></p>
    </div>

    <div class="frame">
      <form class="form-horizontal" name="myForm" novalidate>
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"></span>
        <span ng-show="myForm.email.$error.required">邮箱不能为空</span>
        <span ng-show="myForm.email.$error.email">非法邮箱地址</span>
        <p>
          <input type="submit" class="btn btn-primary" ng-disabled="myForm.email.$dirty && myForm.email.$invalid">
        </p>
      </form>
    </div>

    <div class="frame">
      <p>(filter)输入过滤:<input type="text" name="city" ng-model="city" required></p>
      <ul>
        <li ng-repeat="x in friends | filter:city | orderBy:'city'">{{x.city+','+x.age}}</li>
      </ul>
    </div>

    <div class="frame">
      当前url：<p>{{currentUrl}}</p>
    </div>
  </div>
</body>

<style>
  div.frame{
    border: 2px darkorchid solid;
    margin-bottom: 20px;
    padding: 10px;
  }


</style>
<script type="text/javascript">
  var app=angular.module('myApp',[]);
  app.controller('myCtrl',function ($scope, $location) {
    $scope.name = "Angular";
    $scope.email = "liulian@qq.com";
    $scope.btnText = false;
    $scope.friends = [
      {city: 'US',age: 24},
      {city: 'China',age: 25},
      {city: 'Jape',age: 28}
    ];
    $scope.sayHello = function(){
      $scope.greeting = 'Hello' + ' ' + $scope.name + '!';
    };

    $scope.currentUrl = $location.absUrl();
  })
</script>
</html>
