<div ng-controller="bookListCtrl">
    <input type="text" ng-model="name" placeholder="(filter过滤name)">
    <input type="text" ng-model="newName" placeholder="输入书名">
    <input type="text" ng-model="newPrice" placeholder="输入价格">
    <button ng-click="addItem()" class="btn btn-primary">添加</button>
    <div class="table-responsive">
        <table class="tabel table-hover table-bordered tbl">
            <thead>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-4">书名</th>
                <th class="col-md-3">价格</th>
                <th class="col-md-3">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items | filter:name" class="info">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <a ng-click="editItem()">修改</a>
                    <a ng-click="delItem(item)">删除</a>
                </td>
            </tr>
            <tr ng-if="items.length < 1">
                <td colspan="4">无结果</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

